<ion-view view-title="Attendance">
    <ion-content>
        <ion-refresher disable-pulling-rotation='true'
                       pulling-text="Pull to refresh..."
                       on-refresh="loadStudentAttendance()">
        </ion-refresher>
        <div class="card attendance-student-detail">
            <div class="item item-text-wrap">
                <h2 class='calm'>
                    <i class="icon ion-person" ng-class="{'ion-person': studentDetails.gender === 'Male', 'ion-person': studentDetails.gender === 'Female'}"></i>
                    <strong>{{studentDetails.name}}</strong>
                    <span class="dark" style="padding: 10px;" ng-click='editStudentModal()'><i class="padding icon ion-edit"></i> Edit</span>
                </h2>
                <h3>
                    <div class='row'>
                        <div class="col-67 col-center">
                            <ion-item style="padding: 0;" class="item item-text-wrap">
                                <div ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
                                    <h3 class='positive'><span ng-bind="'Standard: '+ (studentDetails.grade | uppercase)"></span></h3>
                                    <h3 class='positive'><span ng-bind="studentDetails.parentName"></span>, <span ng-bind="studentDetails.contactNo"></span></h3>
                                    <h3 class='positive'><span ng-bind="studentDetails.parentEmail"></span></h3>
                                    <p ng-bind="studentDetails.address"></p>
                                </div>
                                <div ng-click="toggleItem(item)" class="item-expand-footer dark">
                                    <i ng-class="isItemShown(item) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                                    {{ isItemShown(item) ? 'Less' : 'More'}}
                                </div>
                            </ion-item>
                            </div>
                            <div class='col-33 col-center text-right assertive'>
                                <span style="padding: 10px;" ng-if="!userDetails.studentId" ng-click='removeStudentConfirm()'><i class="padding icon ion-trash-a assertive"></i> Delete</span>
                            </div>
                    </div>
                </h3>
            </div>
        </div>
        <div class='card'>
            <div id='calendar'></div>
        </div>
        <div class='card text-center' ng-if="totalHoursInSelectedMonth">
            <div class='h6'>Legends: <i class="ion-stop balanced"></i> Attended</div>
            <div class='h4'>Duration: {{totalHoursInSelectedMonth}}</div>
            <div class='h4'>Paid Duration: {{totalPaidHoursInSelectedMonth}}</div>
        </div>
        <div class="card text-center">
            <span class="dark" ng-click='openPaymentModal()'><i class="padding icon ion-cash"></i> Payment</span>
        </div>
    </ion-content>
</ion-view>
