<ion-view view-title="Reset Password">
    <ion-header-bar>
        <h1 class="title">Change Password</h1>
        <div class="buttons">
            <button class="button button-light dark" ng-click="closeChangePassword()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row" ng-if='changePasswordError'>
            <div class="col assertive">{{changePasswordError}}</div>
        </div>
        <div class="row" ng-if='changePasswordSuccess'>
            <div class="col balanced">{{changePasswordSuccess}}</div>
        </div>
        <form novalidate="" ng-submit="submitChangePassword()" id='loginForm'>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input disabled type="email" autocomplete="off" ng-model="user.parentEmail">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" autocomplete="off" ng-model="user.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" autocomplete="off" ng-model="user.cpassword">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Update Password</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
