<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="seconday">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
<!--      <ion-nav-back-button>
      </ion-nav-back-button>-->

      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu enable-menu-with-back-views='false' side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">{{userDetails.displayName}} Tution App</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/students">
          <i class="icon ion-ios-people dark icon-24"></i> Students
        </ion-item>
        <ion-item menu-close href="#/app/changepassword">
            <i style="margin-right: 25px" class="icon ion-key dark icon-24"></i> Change Password
        </ion-item>  
        <ion-item menu-close ng-click='logout()'>
          <i class="icon ion-log-out dark icon-24"></i> Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
