<ion-view view-title="Make Attendance">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Make Attendance</h1>
        <div class="buttons">
            <button class="button button-clear dark" ng-click="closeNewAttendance()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row" ng-if='newStudentAttendanceError'>
            <div class="col assertive">{{newStudentAttendanceError}}</div>
        </div>
        <div class="row">
            <div class="col col-33" style="line-height: 42px;">
                Start Time
            </div>
            <div class="col col-67">
                <a class="button button-icon icon ion-ios-time-outline" ng-click="showStartTimePicker()"></a>
                <span style="line-height: 42px;padding-left: 20px;" ng-bind="newStudentAttendance.startTime  + newStudentAttendance.startTimeAmPm"></span>
            </div>
        </div>
        <div class="row">
            <div class="col col-33" style="line-height: 42px;">
                End Time
            </div>
            <div class="col col-67">
                <a class="button button-icon icon ion-ios-time-outline" ng-click="showEndTimePicker()"></a>
                <span style="line-height: 42px;padding-left: 20px;" ng-bind="newStudentAttendance.endTime + newStudentAttendance.endTimeAmPm"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button ng-click="AddNewStudentAttendance()"  class="button button-block button-positive" type="button">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>
