<ion-view view-title="Students">
  <ion-content>
    <ion-refresher disable-pulling-rotation='true'
      pulling-text="Pull to refresh..."
      on-refresh="loadAllStudents()">
    </ion-refresher>
    <div class="row-center">
      <div class="col">
        <a class="button icon-left ion-person-add button-balanced" ng-click="AddStudentModal()">New Student</a>
      </div>
    </div>
    <div class="list students-list">
      <a class="item item-icon-left item-icon-right" ng-click="goToStudentAttendanceView(student)" ng-repeat="student in students">
        <i class="icon" ng-class="{'ion-man': student.gender === 'Male', 'ion-woman': student.gender === 'Female'}"></i>
        <h1><span ng-bind="student.name"></span></h1>
        <h3><span ng-bind="'Standard: '+student.grade"></span></h3>
        <h3><span ng-bind="student.parentName"></span>, <span ng-bind="student.contactNo"></span></h3>
        <p ng-bind="student.address"></p>
        <i class="icon ion-chevron-right dark"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
